body {
	background-color: darkgray;
	padding-top: 50px;
}

#boardCanvas, #pieceChoices {
	margin:auto;
	background-color: white;
}

#status {
	margin-top: 50px;
}

.strong {
	font-weight: bold;
}

#buttonOne {
	color: red;
	font-weight: bold;
}